/* ToxicPersonCard.css */
.toxic-person-card {
    transition: transform 10.0s, box-shadow 10.0s; /* Add transitions for smooth effects */
  }
  
  .toxic-person-card:hover {
    transform: scale(1.05); /* Enlarge the card when hovered */
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2); /* Add a shadow effect when hovered */
    animation: shake 0.3s infinite; /* Apply a shaking animation when hovered */
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(5px);
    }
    40% {
      transform: translateX(-5px);
    }
    60% {
      transform: translateX(5px);
    }
    80% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }